*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f8f8f8;
}
section{
    display: flex;
}
section div{
    display: flex;
}
section div:first-child{
    margin-left: 50px;
}
section div h4{
    margin-top: 9px;
    color: black;
}
section div a{
    text-decoration: none;
}
section div img{
    margin: 10px 10px;
}
