body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.produto {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:85%;
    
}
.imagem-produto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-produto img {
    max-width: 100%;
    border-radius: 10px;
}
.sessao {
    flex: 2;
    padding-left: 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.rating {
    color: #ffa500;
    font-size: 16px;
}
.price {
    font-size: 22px;
    color: #28a745;
    font-weight: bold;
}
.installments {
    font-size: 14px;
    color: #555;
}
.buy-button, .pickup-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.buy-button {
    background-color: #28a745;
    color: white;
}
.pickup-button {
    background-color: #007bff;
    color: white;
}
.cotacao {
    margin-top: 15px;
}

/* Para colocar rótulos (labels) como títulos acima dos inputs */
.cotacao label {
    font-size: 14px;
    font-weight: bold;
    display: block; /* Faz o label ocupar toda a largura acima do input */
    margin-bottom: 5px;
}

/* Estilização dos inputs */
.cotacao input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estiliza a linha que contém os dois primeiros inputs lado a lado */
.linha {
    display: flex;
    gap: 40px; /* Espaçamento entre os inputs */
}

/* Garante que cada campo ocupe metade do espaço na linha */
.linha .campo {
    flex: 1;
}

/* Para ajustar a margem do campo de produto */
.campo {
    margin-top: 10px;
}

.descricao-produto {
    padding: 20px;
    max-width: 600px; /* Evita textos muito espalhados */
    text-align: left;
    
}

.descricao-produto h2 {
    font-size: 17px;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left
}

.descricao-produto p {
    font-size: 16px;
    color:  #555;
    line-height: 1.6; /* Melhor espaçamento entre linhas */
    margin-bottom: 8px;
    padding-left: 24px;
    position: relative;
    text-align: left
}



