/* RESET GERAL */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

main {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background-color: #f5f5f5;
  color: #000;
  padding-top: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  color: #080808;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #E0E0E0 ;
  color: rgb(0, 0, 0);
}

.sidebar i {
  width: 20px;
  text-align: center;
}

/* CONTEÚDO PRINCIPAL */
main section:not(.sidebar) {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}



.historico{
    margin: auto;
    overflow-y: auto; /* Rolagem vertical caso necessário */
    overflow-x: hidden;
    margin-top: 40px;
    width: 90vw;
    height: 55vh;
    border-radius: 10px;
    max-height: 55vh; /* Define a altura máxima antes de ativar a rolagem */
    max-width: 100%; /* Garante que a tabela não ultrapasse o container */
    
}
.historico table{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
caption {
    height: 30px;
    line-height: 30px; /* Centraliza verticalmente */
    font-size: 18px;
    font-weight: bold;
    background-color: #ae7550;
    color:  #ffffff;
    text-align: center;
    

}
.historico table th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
th{
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: #F5EDE8; /* Tom mais claro do container */
}
table tbody tr:hover {
    background-color: #E2D3CC;
    cursor: pointer;
    #cancelada{
        background-color: #E68A8A;
        transform: scale(1.05);
    }
    #pendente{
        background-color: #FFD480;
        transform: scale(1.05);
    }
    #concluido{
        background-color: #8BCF8E;
        transform: scale(1.05);
    }
}
.status{
    color: white;
}
#concluido{
    background-color: #A3D9A5;
    color: #226622;
}
#pendente{
    background-color: #FFE5A3;
    color: #775500;
}
#cancelada{
    background-color: #F5A3A3;
    color: #882222;
}
.historico table td:first-child{
    width: 2vw;
}


