body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

section.dashboard {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 30px 190px;
  border-radius: 10px;
  width: 90vw;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
  padding: 10px 20px;
  min-width: 220px;
}

.card h3 {
  font-size: 25px;
  margin-bottom: 12px;
  color: #000000;
}

.info {
  display: flex;
  flex-direction: row;  /* Lado a lado */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;
  gap: 20px;
}

.info i {
  font-size: 30px;
  color: #000;
}

.value {
  font-size: 35px;
  font-weight: bold;
  color: #000;
}

section.dashboard-actions {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 90vw;
  height: 20vw;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.action-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ae7550;
  color: black;
  width: 290px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.action-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.action-card i {
  font-size: 75px;
}

.action-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
