* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.historico{
    margin: auto;
    overflow-y: auto; /* Rolagem vertical caso necessário */
    overflow-x: hidden;
    margin-top: 20px;
    width: 80vw;
    height: 55vh;
    /* background-color: #DCCEC6; */
    border-radius: 10px;
    max-height: 55vh; /* Define a altura máxima antes de ativar a rolagem */
    max-width: 100%; /* Garante que a tabela não ultrapasse o container */
    
}
.historico table{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
caption {
    font-size: 20px;
    margin-bottom: 1px;
    font-weight: bold;
    color:  #ffffff;
    background-color: #ae7550;
}
.historico table th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
th{
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: #F5EDE8; /* Tom mais claro do container */
}
table tbody tr:hover {
    background-color: #E2D3CC;
    cursor: pointer;
    #cancelada{
        background-color: #E68A8A;
        transform: scale(1.05);
    }
    #pendente{
        background-color: #FFD480;
        transform: scale(1.05);
    }
    #concluido{
        background-color: #8BCF8E;
        transform: scale(1.05);
    }
}
.status{
    color: white;
}
#concluido{
    background-color: #A3D9A5;
    color: #226622;
}
#pendente{
    background-color: #FFE5A3;
    color: #775500;
}
#cancelada{
    background-color: #F5A3A3;
    color: #882222;
}
.historico table td:first-child{
    width: 2vw;
}


#download-btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

#download-btn:hover {
    background-color: #45a049; /* Cor um pouco mais escura no hover */
}
