/*Header
/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 50px;
    height: calc(100% - 222px); /* Ajusta a altura para preencher o espaço restante */
    box-sizing: border-box;
    
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ae7550;
    box-shadow: 0 0 5px rgba(135, 156, 179, 0.5);
}

textarea {
    height: 100px;
    resize: none;
}

#image-preview {
    margin-top: 10px;
}

.preview-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.submit-btn {
    background-color: #ae7550;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #8e5f3b;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}



/* Estilização Footer */    

footer {
    background-color: #000000;
    color: #f3f3f3;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 180px;
    margin: 30px;
}

.footer-section img {
width: 200px;
}




.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ae7550;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    font-size: 13px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ae7550;
}

.footer-logo {
    width: 100px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
}

